<ion-header>
  <ion-navbar>
    <ion-title>
      Zonas
    </ion-title>

    <ion-buttons end>
      <button navPush="AgregarPedidoPage" ion-button>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content class="card-background-page">
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card (click)="pushZona('A')">
          <img src="https://www.colorcombos.com/images/colors/fafafa.png" />
          <div class="card-title">A</div>
          <div class="card-subtitle" *ngIf="pedidosListA | async as pedidosA"> {{pedidosA.length}} Pedidos</div>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card (click)="pushZona('B')">
          <img src="https://www.colorcombos.com/images/colors/fafafa.png" />
          <div class="card-title">B</div>
          <div class="card-subtitle" *ngIf="pedidosListB | async as pedidosB"> {{pedidosB.length}} Pedidos</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card (click)="pushZona('C')">
          <img src="https://www.colorcombos.com/images/colors/fafafa.png" />
          <div class="card-title">C</div>
          <div class="card-subtitle" *ngIf="pedidosListC | async as pedidosC"> {{pedidosC.length}} Pedidos</div>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card (click)="pushZona('D')">
          <img src="https://www.colorcombos.com/images/colors/fafafa.png" />
          <div class="card-title">D</div>
          <div class="card-subtitle" *ngIf="pedidosListD | async as pedidosD"> {{pedidosD.length}} Pedidos</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card (click)="pushZona('E')">
          <img src="https://www.colorcombos.com/images/colors/fafafa.png" />
          <div class="card-title">E</div>
          <div class="card-subtitle" *ngIf="pedidosListE | async as pedidosE"> {{pedidosE.length}} Pedidos</div>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card (click)="pushZona('F')">
          <img src="https://www.colorcombos.com/images/colors/fafafa.png" />
          <div class="card-title">F</div>
          <div class="card-subtitle" *ngIf="pedidosListF | async as pedidosF"> {{pedidosF.length}} Pedidos</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card (click)="pushZona('G')">
          <img src="https://www.colorcombos.com/images/colors/fafafa.png" />
          <div class="card-title">C</div>
          <div class="card-subtitle" *ngIf="pedidosListG | async as pedidosG"> {{pedidosG.length}} Pedidos</div>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card (click)="pushZona('H')">
          <img src="https://www.colorcombos.com/images/colors/fafafa.png" />
          <div class="card-title">H</div>
          <div class="card-subtitle" *ngIf="pedidosListH | async as pedidosH"> {{pedidosH.length}} Pedidos</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card (click)="pushZona('I')">
          <img src="https://www.colorcombos.com/images/colors/fafafa.png" />
          <div class="card-title">I</div>
          <div class="card-subtitle" *ngIf="pedidosListI | async as pedidosI"> {{pedidosI.length}} Pedidos</div>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card (click)="pushZona('Adelante')">
          <img src="https://www.colorcombos.com/images/colors/fafafa.png" />
          <div class="card-title">Adelante</div>
          <div class="card-subtitle" *ngIf="pedidosListAdelante | async as pedidosAde"> {{pedidosAde.length}} Pedidos</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>